<div class="row">
<div class="col-md-12">
<h2 class="text-center heading-section">Informacion</h2>
<div class="table-wrap">
<table class="table table-bordered">
<thead class="thead">
<th>Argumento Entrada</th>
<th>Sistema Operativo</th>
<th>Version Node</th>
<th>Memoria rss</th>
<th>Path de Ejecucion</th>
<th>Process id</th>
<th>Carpeta del Proyecto</th>
</thead>
<tbody>
<td>{{information.args}}</td>
<td>{{information.platform}}</td>
<td>{{information.nodeVersion}}</td>
<td>{{information.rss}}</td>
<td>{{information.execPath}}</td>
<td>{{information.processId}}</td>
<td>{{information.currentDirectory}}</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
